


<!--<div [ngClass]="{slide:true}">Some tags before</div>-->
<!--<owl-carousel-o [options]="customOptions">-->
<!--  <ng-template carouselSlide > <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"></ng-template>-->
<!--  <ng-template carouselSlide > <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?cs=srgb&dl=pexels-anjana-c-674010.jpg&fm=jpg"></ng-template>-->
<!--  <ng-template carouselSlide > <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg"></ng-template>-->
<!--  <ng-template carouselSlide > <img src="https://images.ctfassets.net/hrltx12pl8hq/a2hkMAaruSQ8haQZ4rBL9/8ff4a6f289b9ca3f4e6474f29793a74a/nature-image-for-website.jpg?fit=fill&w=480&h=320"></ng-template>-->
<!--  <ng-template carouselSlide > <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPwJjpm2YbhXSOI4RPEVt7T8L0oAPpW2k77FlPV-DO&s"></ng-template>-->

<!--</owl-carousel-o>-->
<!--<div>Some tags after</div>-->


<app-carousel [images]="images"
              [controls] = "true"
              [autoSlide] = "true"
              [slideInterval]="4000"
              [indicators]="true"

></app-carousel>

<app-carousel [images]="images"
              [controls] = "true"
              [indicators]="true"

></app-carousel>

